# Ensure that Apache listens on port 80
Listen 7000
<VirtualHost *:7000>
    DocumentRoot "/var/www/vhosts/ansi01"
    ServerName {{ ansible_facts['hostname'] }}

    # Other directives here
</VirtualHost>
